body {
    background-color: rgb(44, 43, 43);
    color: whitesmoke; 
   margin: 100px;
}
p{
    padding: 0%;
    margin-bottom: 20px;
}
h1{
    padding: 0%;
    margin: 0%;
}
.delete{
    background-color: rgb(253, 42, 42);
    color: black;
    border: none;
    border-radius: 50px;
    margin-left: 50px;
}
button{
    border: none;
    border-radius: 50px;
}
input{
    border-radius: 50px;
    padding-left: 10px;
}